body {
    background-color: #9f9f9f;
    font-family: 'Open Sans', sans-serif;
}

.form{
    min-height: 150px;
    border: 2px solid black;
    min-width: 150px;
    max-width: 400px;
	font-size: 15px;
    display: flex;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

label,input {
    display: block;
    margin: 15px;
}