body {
    background-color: #9f9f9f;
    font-size: 20px;
    font-family: 'Slabo 27px', serif;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container form{
    background-color: white;
    height: 350px;
    width: 350px;
    border: 2pt solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 50px;
}

.all-users-button{
    margin-top: 30px;
    background-color: black;
    border-color: black;
}

.btn:active, .btn:hover{
    background-color: gray;!important;
    border-color: black;
}

form div{
    margin: 30px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: black;
}

input[type=submit]{
    font-size: 20px;
}

.greeting{
    margin: 50px;
}
p{
    text-align: center;
}

.users-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
    font-size: 15px;
}